certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.4
idna==3.4
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
platformdirs==3.5.1
pooch==1.7.0
pymeshlab==2022.2.post4
pyparsing==3.0.9
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqt5-tools==5.15.9.3.3
pyqtspinner==2.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pyvista==0.39.1
pyvistaqt==0.10.0
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
qtmodern==0.2.0
QtPy==2.3.1
requests==2.30.0
scooby==0.7.2
six==1.16.0
urllib3==2.0.2
vtk==9.2.6
